<div class="container">
  <button *ngIf="editable" (click)="create()" class="list-item" mat-raised-button color="accent">
    Create New Course&nbsp;&nbsp;
    <mat-icon>add</mat-icon>
  </button>
  <mat-nav-list>
    <mat-list-item class="list-item" *ngFor="let c of courses">
      <a (click)="toggleSidenav()" class="fill-remaining-space" matLine routerLink="./{{c.name}}/{{getRouterLink()}}">{{c.name}}</a>
      <button *ngIf="editable" (click)="update(c)" mat-icon-button>
        <mat-icon>create</mat-icon>
      </button>
      <button *ngIf="editable" (click)="inCharge(c)" mat-icon-button>
        <mat-icon>people</mat-icon>
      </button>
      <button *ngIf="editable" (click)="delete(c)" mat-icon-button>
        <mat-icon>delete</mat-icon>
      </button>
    </mat-list-item>
  </mat-nav-list>
</div>
