<h1 mat-dialog-title>Assignment</h1>
<mat-dialog-content>
  <form #assignForm="ngForm" class="form-container">
    <div class="row-container">
      <mat-form-field>
        <mat-label>Expiration Date</mat-label>
        <input matInput [matDatepicker]="picker" #expiryModel="ngModel" [(ngModel)]="expiry"
               name="expiry" id="expiry" required>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
        <mat-error *ngIf="expiryModel.invalid">Not a date</mat-error>
      </mat-form-field>
    </div>
  </form>
  <h4>Upload Assignment</h4>
  <form [formGroup]="uploadForm">
    <input type="file" name="profile" (change)="onFileSelect($event)">
  </form>
</mat-dialog-content>
<mat-dialog-actions>
  <button [disabled]="!assignForm.form.valid || !canUpload"
          (click)="save()"
          mat-raised-button
          color="primary">
    Upload
  </button>
  <button mat-raised-button mat-dialog-close [matDialogClose]="undefined">Cancel</button>
</mat-dialog-actions>
