<h1 mat-dialog-title>Paper Version</h1>
<mat-dialog-content>
  <form #assignForm="ngForm" class="form-container">
    <div class="row-container">
      <mat-form-field>
        <mat-label>Url</mat-label>
        <input #urlModel="ngModel" matInput type="url" [(ngModel)]="url"
               name="url" id="url" required disabled>
        <mat-error *ngIf="urlModel.invalid">Not an url</mat-error>
      </mat-form-field>
    </div>
  </form>
  <form [formGroup] = "uploadForm" (ngSubmit)="onSubmit()">
    <div>
      <input type="file" name="profile" (change)="onFileSelect($event)" />
    </div>
    <div>
      <button type="submit" mat-raised-button color="primary" [disabled]="!canUpload">Upload</button>
    </div>
  </form>
  <mat-dialog-actions>
    <button [disabled]="url === undefined"
            (click)="save()"
            mat-raised-button
            color="primary">
      Save
    </button>
    <button mat-raised-button mat-dialog-close [matDialogClose]="undefined">Cancel</button>
  </mat-dialog-actions>
</mat-dialog-content>
