<mat-table [dataSource]="myTeams" multiTemplateDataRows>

  <!-- Name Column -->
  <ng-container matColumnDef="name">
    <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
  </ng-container>

  <!-- Creator Column -->
  <ng-container matColumnDef="creator">
    <mat-header-cell *matHeaderCellDef> Creator </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.creator}} </mat-cell>
  </ng-container>

  <!-- ExpiryDate Column -->
  <ng-container matColumnDef="expiryDate">
    <mat-header-cell *matHeaderCellDef> Expiration </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.expiryDate}} </mat-cell>
  </ng-container>

  <!-- Actions Column -->
  <ng-container matColumnDef="actions">
    <mat-header-cell *matHeaderCellDef> Actions </mat-header-cell>
    <mat-cell *matCellDef="let element">
      <button (click)="element.isExpanded = !element.isExpanded">Dettagli</button>
      <div *ngIf="!element.enabled">
        <div *ngIf="!element.invalid && element.creator != _userId">
          <button (click)="action(element.name, 'confirm')">Accetta</button>
          <button (click)="action(element.name, 'reject')">Rifiuta</button>
        </div>
        <button (click)="action(element.name, 'delete')">Elimina</button>
      </div>
    </mat-cell>
  </ng-container>

  <!-- Template for details row -->
  <ng-container matColumnDef="expandedDetail">
    <mat-cell *matCellDef="let element" [attr.colspan]="displayedColumns.length">
      <div class="cell-container">
        <div class="detail-header" mat-subheader>Members of {{element.name}}</div>
        <mat-list class="detail-container">
          <mat-list-item *ngFor="let student of element.members">
            <div mat-line>{{student.id}}</div>
            <div mat-line> {{student.name}} {{student.surname}}</div>
            <div mat-line> {{element.confirmedIds.includes(student.id) ? 'accepted' : (element.rejectedIds.includes(student.id) ? 'rejected' : 'pending')}}</div>
            <mat-divider></mat-divider>
          </mat-list-item>
        </mat-list>
      </div>

    </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns;sticky: true"></mat-header-row>

  <mat-row *matRowDef="let element; columns: displayedColumns;"
           matRipple
           class="element-row"></mat-row>

  <!-- Extra row to show detail content column -->
  <mat-row *matRowDef="let element; columns: ['expandedDetail']"
           [@detailExpand]="element.isExpanded ? 'expanded' : 'collapsed'"></mat-row>

</mat-table>
