<div class="full-width-table mat-elevation-z8">
  <mat-table [dataSource]="teams">

    <!-- Id Column -->
    <ng-container matColumnDef="id">
      <mat-header-cell *matHeaderCellDef>Id</mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.id}} </mat-cell>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef>Name</mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.name}} </mat-cell>
    </ng-container>

    <!-- Expanded Content Column - The detail row is made up of this one column -->
    <ng-container matColumnDef="expandedDetail">
      <mat-cell *matCellDef="let detail">
        <div class="cell-container">
          <div class="detail-header">
            <h4 class="detail-title">Details</h4>
            <button (click)="update(detail.element)" mat-icon-button>
              <mat-icon>create</mat-icon>
            </button>
          </div>
          <mat-list class="detail-container">
            <mat-list-item>
              <span class="detail-item-title">VCpu</span> {{detail.element.vcpu}}
            </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item>
              <span class="detail-item-title">Space</span> {{detail.element.space}}
            </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item>
              <span class="detail-item-title">RAM</span> {{detail.element.ram}}
            </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item>
              <span class="detail-item-title">Max VMs Active</span> {{detail.element.maxVMsActive}}
            </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item>
              <span class="detail-item-title">Max VMs</span> {{detail.element.maxVMs}}
            </mat-list-item>
            <mat-divider></mat-divider>
          </mat-list>
          <h4>Virtual Machines</h4>
          <app-vms-table-cont [teamName]="detail.element.name"></app-vms-table-cont>
        </div>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>

    <mat-row *matRowDef="let row; columns: displayedColumns;"
             matRipple
             class="element-row"
             [class.expanded]="expandedElement == row"
             (click)="expandedElement = row">
    </mat-row>

    <mat-row *matRowDef="let row; columns: ['expandedDetail']; when: isExpansionDetailRow"
             [@detailExpand]="row.element == expandedElement ? 'expanded' : 'collapsed'"
             style="overflow: hidden">
    </mat-row>

  </mat-table>
</div>
