<h1 mat-dialog-title>Paper</h1>
<mat-dialog-content>
  <form #paperForm="ngForm" class="form-container">
    <div class="row-container">
      <mat-form-field>
        <mat-label>Vote</mat-label>
        <input matInput type="number" [(ngModel)]="vote"
               name="vote" id="vote" min="0" max="33">
      </mat-form-field>
        <mat-label>Final</mat-label>
        <mat-checkbox [(ngModel)]="final"
               name="final" id="final">
        </mat-checkbox>
    </div>
  </form>
  <br>
  <div *ngIf="vote && !final">Can't assign vote to non-final paper!</div>
  <br>
  <div *ngIf="vote < 0 || vote > 33">Vote must be a number between 0 and 33!</div>
</mat-dialog-content>
<mat-dialog-actions>
  <button [disabled]="!paperForm.form.valid || (vote && !final) || (vote < 0 || vote > 33)"
          (click)="save()"
          mat-raised-button
          color="primary">
    Save
  </button>
  <button mat-raised-button mat-dialog-close [matDialogClose]="undefined">Cancel</button>
</mat-dialog-actions>

