<h1 mat-dialog-title>Propose Team</h1>
<mat-dialog-content>
  <form [formGroup]="proposeForm">
    <mat-form-field>
      <mat-label>
        Team Name:
      </mat-label>
        <input matInput type="text" formControlName="name" required>
    </mat-form-field>
    <mat-form-field>
      <mat-label>
        Timeout in seconds:
      </mat-label>
        <input matInput type="number" formControlName="time" required>
    </mat-form-field>
  </form>
  <p>Current size: {{_students.length + 1}}</p>
  <mat-list class="detail-container">
    <mat-list-item *ngFor="let student of _students">
      <div mat-line>{{student.id}}</div>
      <div mat-line> {{student.name}} {{student.surname}}</div>
      <mat-divider></mat-divider>
    </mat-list-item>
  </mat-list>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-raised-button color="primary" type="submit" (click)="propose()" [disabled]="!proposeForm.valid">Propose</button>
  <button mat-raised-button mat-dialog-close [matDialogClose]="undefined">Cancel</button>
</mat-dialog-actions>
