<h1 mat-dialog-title>Edit Course</h1>
<mat-dialog-content>
  <form #courseForm="ngForm" class="form-container">
    <mat-form-field class="fit-size-input" appearance="legacy">
      <mat-label>Name</mat-label>
      <input [disabled]="!isNew" #nameModel="ngModel" matInput type="text" [(ngModel)]="name"
             name="name" id="name" required>
      <mat-error *ngIf="nameModel.invalid">Not a name</mat-error>
    </mat-form-field>
    <mat-form-field class="fit-size-input" appearance="legacy">
      <mat-label>Acronym</mat-label>
      <input [disabled]="!isNew" #acronymModel="ngModel" matInput type="text" [(ngModel)]="acronym"
             name="acronym" id="acronym" required>
      <mat-error *ngIf="acronymModel.invalid">Not a acronym</mat-error>
    </mat-form-field>
    <div class="row-container">
      <mat-form-field class="min-container">
        <mat-label>Min</mat-label>
        <input #minModel="ngModel" matInput type="number" [(ngModel)]="min"
               name="min" id="min" required>
        <mat-error *ngIf="minModel.invalid">Not a number</mat-error>
      </mat-form-field>
      <mat-form-field class="max-container">
        <mat-label>Max</mat-label>
        <input #maxModel="ngModel" matInput type="number" [(ngModel)]="max"
               name="max" id="max" required>
        <mat-error *ngIf="maxModel.invalid">Not a number</mat-error>
      </mat-form-field>
    </div>
    <mat-form-field class="fit-size-input">
      <mat-label>VM Model</mat-label>
      <mat-select [(ngModel)]="model" name="model" required>
        <mat-option *ngFor="let m of models" [value]="m">
          {{m.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-checkbox name="enabled" id="enabled" [(ngModel)]="enabled">Enable/disable course</mat-checkbox>
    <h4>Create VM Model</h4>
    <mat-form-field class="fit-size-input">
      <mat-label>VM Model Name</mat-label>
      <input matInput type="text" name="modelName" [(ngModel)]="modelName">
    </mat-form-field>
    <form [formGroup]="uploadForm" (ngSubmit)="onSubmit()">
      <input type="file" class="file-input" name="profile"
             (change)="onFileSelect($event)" #fileUpload>

      <div class="file-upload">
        <button mat-mini-fab color="primary" class="upload-btn"
                (click)="fileUpload.click()">
          <mat-icon>attach_file</mat-icon>
        </button>

        {{uploadForm.get('profile').value.name || "No file uploaded yet."}}
      </div>
      <button type="submit" mat-raised-button color="primary" [disabled]="!canUpload">Create</button>
    </form>
  </form>
</mat-dialog-content>
<mat-dialog-actions>
  <button [disabled]="!courseForm.form.valid"
          (click)="save()"
          mat-raised-button
          color="primary">
    Save
  </button>
  <button mat-raised-button mat-dialog-close>Cancel</button>
</mat-dialog-actions>
