<h1 mat-dialog-title>Edit Course</h1>
<mat-dialog-content>
  <form #courseForm="ngForm" class="form-container">
    <mat-form-field class="fit-size-input" appearance="legacy">
      <mat-label>Name</mat-label>
      <input [disabled]="!isNew" #nameModel="ngModel" matInput type="text" [(ngModel)]="name"
             name="name" id="name" required>
      <mat-error *ngIf="nameModel.invalid">Not a name</mat-error>
    </mat-form-field>
    <mat-form-field class="fit-size-input" appearance="legacy">
      <mat-label>Acronym</mat-label>
      <input [disabled]="!isNew" #acronymModel="ngModel" matInput type="text" [(ngModel)]="acronym"
             name="acronym" id="acronym" required>
      <mat-error *ngIf="acronymModel.invalid">Not a acronym</mat-error>
    </mat-form-field>
    <div class="row-container">
      <mat-form-field class="min-container">
        <mat-label>Min</mat-label>
        <input #minModel="ngModel" matInput type="number" [(ngModel)]="min"
               name="min" id="min" required>
        <mat-error *ngIf="minModel.invalid">Not a number</mat-error>
      </mat-form-field>
      <mat-form-field class="max-container">
        <mat-label>Max</mat-label>
        <input #maxModel="ngModel" matInput type="number" [(ngModel)]="max"
               name="max" id="max" required>
        <mat-error *ngIf="maxModel.invalid">Not a number</mat-error>
      </mat-form-field>
    </div>
    <mat-checkbox name="enabled" id="enabled" [(ngModel)]="enabled">Enable/disable course</mat-checkbox>
    <h4>Select a VM model or create one</h4>
    <mat-form-field>
      <input matInput type="text" name="modelName" [(ngModel)]="modelName">
    </mat-form-field>
    <form [formGroup] = "uploadForm" (ngSubmit)="onSubmit()">
      <div>
        <input type="file" name="profile" (change)="onFileSelect($event)" />
      </div>
      <div>
        <button type="submit" mat-raised-button color="primary" [disabled]="!canUpload">Create</button>
      </div>
    </form>
    <mat-form-field>
      <mat-label>VM Model</mat-label>
      <mat-select [(ngModel)]="model" name="model" required>
        <mat-option *ngFor="let m of models" [value]="m">
          {{m.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <!-- put in a box -->
    <img *ngIf="model" [src]="model.url" alt="img">
  </form>
  <mat-dialog-actions>
    <button [disabled]="!courseForm.form.valid"
            (click)="save()"
            mat-raised-button
            color="primary">
      Save
    </button>
    <button mat-raised-button mat-dialog-close>Cancel</button>
  </mat-dialog-actions>
</mat-dialog-content>
