.fit-size-input {
  width: 100%;
}

.form-container {
  display: flex;
  flex-direction: column;

}

.row-container {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.max-container {
  width: 100%;
  margin-left: 10px;
}

.min-container {
  width: 100%;
  margin-right: 10px;
}

#enabled {
  margin-top: 10px;
}


.file-input {
  display: none;
  align-self: center;
}

.upload-btn {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 10px;
}
