<h1 mat-dialog-title>My Profile</h1>
<div mat-dialog-content>
  <mat-spinner *ngIf="loading"></mat-spinner>
  <div *ngIf="!loading">
    <img [src]="profile.photoUrl" alt="profile picture">
    <ul>
      <li>
        Name: {{profile.name}}
      </li>
      <li>
        Surname: {{profile.surname}}
      </li>
      <li>
        Id: {{profile.username.split('@')[0]}}
      </li>
      <li>
        Email: {{profile.username}}
      </li>
      <li>
        Roles: {{data.roles.join(', ')}}
      </li>
    </ul>
  </div>
</div>
