<h1 mat-dialog-title>My Profile</h1>
<div mat-dialog-content>
  <mat-spinner *ngIf="loading"></mat-spinner>
  <div *ngIf="!loading" class="container">
      <img [src]="profile.photoUrl" alt="profile picture" class="propic">
      <mat-list>
        <mat-list-item>
          {{profile.name}}
        </mat-list-item>
        <mat-list-item>
          {{profile.surname}}
        </mat-list-item>
        <mat-list-item>
          {{profile.username.split('@')[0]}}
        </mat-list-item>
        <mat-list-item>
          {{profile.username}}
        </mat-list-item>
        <mat-list-item>
          {{data.roles.join(', ')}}
        </mat-list-item>
      </mat-list>
  </div>
</div>
