<div class="main-container">
  <div class="detail-container">
    <div class="detail-header">
      <h4>Details</h4>
    </div>
    <mat-list class="detail-content">
      <mat-list-item>
        <span class="detail-item">VCpu</span> {{vm.vcpu}}
      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>
        <span class="detail-item">Space</span> {{vm.space}}
      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>
        <span class="detail-item">RAM</span> {{vm.ram}}
      </mat-list-item>
      <mat-divider></mat-divider>
    </mat-list>
  </div>
  <h4>Owners</h4>
  <app-student-table [students]="owners"></app-student-table>
</div>
