<button *ngIf="!admin" (click)="addVersion()" mat-raised-button color="primary">Carica paper</button>

<h4 *ngIf="empty">No versions here</h4>

<div *ngIf="!empty">
  <mat-table [dataSource]="dataSource" matSort>

    <!-- Id Column -->
    <ng-container matColumnDef="id">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Id</mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.id}} </mat-cell>
    </ng-container>

    <!-- Submission Column -->
    <ng-container matColumnDef="date">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Submitted</mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.date | date:'medium'}} </mat-cell>
    </ng-container>

    <!-- Content Column -->
    <ng-container matColumnDef="contentUrl">
      <mat-header-cell *matHeaderCellDef>Content Url</mat-header-cell>
      <mat-cell *matCellDef="let row"> <a target="_blank" href="{{row.url}}"> Open </a></mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>

    <mat-row *matRowDef="let row; columns: displayedColumns;"
             class="element-row">
    </mat-row>

  </mat-table>
</div>

