.fit-size-input {
  width: 100%;
}

.row-container {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.left-container {
  width: 100%;
  margin-right: 10px;
}

.right-container {
  width: 100%;
  margin-left: 10px;
}

