<div>
<!--  <mat-form-field class="add-student-form-field">-->
<!--    <mat-label>Add Student</mat-label>-->
<!--    <input matInput type="search" (keyup)="filter($event)" [matAutocomplete]="auto">-->
<!--    <mat-autocomplete-->
<!--      #auto="matAutocomplete"-->
<!--      [displayWith]="displayStudent"-->
<!--      (optionSelected)="currentStudent = $event.option.value">-->

<!--      <mat-option-->
<!--        *ngFor="let option of filteredOptions"-->
<!--        [value]="option">-->
<!--        {{displayStudent(option)}}-->
<!--      </mat-option>-->

<!--    </mat-autocomplete>-->
<!--    <button mat-button type="button" matSuffix (click)="addStudent()">Add</button>-->
<!--  </mat-form-field>-->
</div>
